/*CONTACTO*/

fieldset{
    margin: 20px 420px;
    padding: 20px;
    width: 500px;
    label{
        display: flex;
        align-items: flex-start;
    }
    input, textarea{
        width: 100%;
        padding: 5px;
        border-radius: 4px;
    }
    .label-boton{
        display: none;
    }
    .boton{
        width: 50%;
        margin-top: 5px;
        margin-left: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
}
.titulo-cto{
    font-size: 1.3rem;
}
.contacto{
    margin-left: -5px;
    text-align: center;
    a{
        text-decoration: none;
        color: black;
    }
    .iconos{
        width: 2%;
        margin: 0;
        padding: 0;     
    }
}
