/*SOBRE NOSOTROS*/

.container{
    gap: 10px;
    display: flex;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
    align-items: center;
    main{
        margin-left: 0;
        margin-right: 10px;
        font-size: 1.2rem;
        .sobren{
            justify-content: center;
            margin: 20px 10px;
            align-items: center;
            text-align: justify;            
            #ultimo{
                margin-top: -5px;
            }
        }
    }    
    section{
        margin: 0;
        .casa2{
            width: 90%;
            margin: 50px 30px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
        }
    }
}